@font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.box {
    height: 100%;
}

.card {
    height: 100%;
}

.has-logo-font {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: -1px;
}

.has-text-huge {
    font-size: 700%; 
}

.kw {
    color: #d65923;
}

.str {
    color: #14b309;
}

.op {
    color: #5a99f1;
}

.n {
    color: #bddcff;
}

.c {
    color: #747474;
}

.b {
    color: #00c8b1;
}