@font-face {
    font-family: 'Iosevka Bold';
    src: url('/fonts/Iosevka-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Italic';
    src: url('/fonts/Iosevka-BoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

.box {
    height: 100%;
}

.card {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, .iosevka-bold, .title {
    font-family: 'Iosevka Bold', monospace;
}

.iosevka-italic {
    font-family: 'Iosevka Italic', monospace;
}

.notation {
    font-family: 'Iosevka Italic';
    font-size: 14pt;
    letter-spacing: -2px;
}

.has-text-huge {
    font-size: 700%; 
}

.kw {
    color: #d65923;
}

.str {
    color: #14b309;
}

.op {
    color: #5a99f1;
}

.n {
    color: #bddcff;
}

.c {
    color: #747474;
}

.b {
    color: #00c8b1;
}